@tailwind base;
@tailwind components;
@tailwind utilities;


.login-img{
    background: url('./assets/authentication.png');
    background-position: center;
  }
.extraTwo{
    background: url('./assets/bg-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }